.subscribe-button {
  background-color: rgb(204, 0, 0);
  color: white;
  border: none;
  padding-top: 10px;
  padding-left: 16px;
  padding-bottom: 10px;
  padding-right: 16px;
  border-radius: 1px;
  cursor: pointer;
  margin-right: 8px;
  transition: opacity 0.15s;
  vertical-align: top;
}

.subscribe-button:hover {
  opacity: 0.8;
}

.subscribe-button:active {
  opacity: 0.4;
}

.join-button {
  color: rgb(6, 95, 212);
  background-color: white;
  border-color: rgb(6, 95, 212);
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  padding-left: 16px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 16px;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 0.15s,
  color 0.15s;
  vertical-align: top;
}

.join-button:hover{
  background-color: rgb(6, 95, 212);
  color: white;
}

.join-button:active {
  opacity: 0.75;
}

.tweet-button {
  background-color: rgb(29, 155, 240);
  color: white;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  border: none;
  border-radius: 19px;
  cursor: pointer;
  transition: box-shadow 0.15s, opacity 0.15s;
  vertical-align: top;
}

.tweet-button:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.tweet-button:active {
  opacity: 0.6;
}
